<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<link rel="stylesheet" th:href="@{/app.css}" />
	<title>Countries of the World</title>
</head>
<body>
<header>
	<h1><a th:href="@{/}">Countries of the World</a></h1>
	<a class="button">Sort by:</a>
	<a th:href="@{/name}" class="button">name</a>
	<a th:href="@{/population}" class="button">population</a>
</header>
	<div class="container">
		<div th:each="country: ${countries}" class="country" >
			<a th:href="@{'/country/' + ${country.countryName}}">
				<img th:src="@{'/flags/' + ${country.countryName} + '.png'}" alt="Flag of India"/>
				<h4 th:text = "${country.countryName}"></h4>
			</a>
		</div>
	</div>
</body>
</html>